* { 
    /* margin: 0; */
    /* padding: 0; */
    font-family: 'Oxygen', sans-serif;
    
} 

body {
    background: rgb(0,164,255);
    background: linear-gradient(90deg, rgb(51, 182, 253) 0%, rgba(223,228,245,0.9948354341736695) 50%, rgb(51, 182, 253) 100%);
}

#loginForm a {
    margin: 5px;
    padding: 5px;
}


#patientTable {
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    /* font-family: sans-serif; */
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}

.tableHeader {
    background-color: rgb(24, 141, 53);
    color: #ffffff;
    text-align: center;
}

#patientTable tr:hover {
    background-color: #4caf50;
}
#patientTable td, th, tr {
    padding: 5px 15px;
    border: 2px solid rgb(24, 141, 53);
}


/* Navbar */
.navUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(24, 141, 53);
     /* rgba(44, 92, 117, 0.705); */
    /* position: fixed; */
    top: 0;
    width: 100%;
}
.navUl li {
    float: left;
    border-right: 1px solid #bbb;
}
.navUl a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navUl a:hover {
    background-color: rgb(100, 110, 110);
}
.active {
    background-color: #4caf50;
}
.navright {
    float: right;
}