* { 
    /* margin: 0; */
    /* padding: 0; */
    font-family: 'Oxygen', sans-serif;
    
} 

body {
    background: rgb(0,164,255);
    background: linear-gradient(90deg, rgb(51, 182, 253) 0%, rgba(223,228,245,0.9948354341736695) 50%, rgb(51, 182, 253) 100%);
    color:rgb(30, 59, 185);
    font-weight: bold;
    
}

h1 {
    text-shadow: 0 2px;
    margin-left: 20px;
    text-align: center;
}

h3 {
    margin-left: 20px;
    text-align: center;
}

#loginForm a {
    margin: 5px;
    padding: 5px;
}
#loginForm span {
    margin-left: 70px;
}

#searching {
    margin-bottom: 0;
    margin-left: 20px;
    /* vertical-align: center; */
    /* padding-top: 10px; */
}

#searchInput, #searchMenu {
    padding-right: 60px;

}

input, select {
    padding: 3px;
    box-shadow: 3px 3px 3px gray;
    border-radius: 5px;
    background-color: rgb(51, 182, 253);
    font-weight: bold;
    min-height: 20px;
}

select {
    width: 150px;
}

#addpatientForm input {
    width: 150px;
}



label {
    float: left;
    text-align: right;
    min-width: 135px;
    padding-right: 10px;
    min-height: 20px;
    display: table-cell;
    vertical-align: middle;
}

.search label {
    vertical-align: center;
    margin-top: 12px;
    margin-left: 20px;
}

button {
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    background-color: #4caf50;
    color:rgb(30, 59, 185);
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
    font-size: large;
}

button:hover {
    background-color: rgb(100, 110, 110);
}

#addpatientBtn {
    margin-top: 20px;
    margin-left: 60px;
}

#searchBtn {
    margin-left: 5px;
}

#loginBtn {
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#signupBtn {
    margin-left: 55px;
    margin-top: 15px;
}

#signupForm, #invalidSignup {
    margin-left: 20px;
}

.aboutDivs {
    display: flex;
}
.addDiv, .loginDiv, .signupDiv {
    display: flex;
    justify-content: space-around;
}



.invalidInfo {
    color: rgb(173, 2, 2);
}

.aboutParas {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

#patientTable {
    border-collapse: collapse;
    margin: 10px 0 0 20px;
    font-size: 0.9em;
    min-width: 620px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tableHeader {
    background-color: rgb(24, 141, 53);
    color: #ffffff;
    text-align: center;
}

#patientTable tr:hover {
    background-color: #4caf50;
}
#patientTable td, th, tr {
    padding: 5px 15px;
    border: 2px solid rgb(24, 141, 53);
}


/* Navbar */
.navUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(24, 141, 53);
     /* rgba(44, 92, 117, 0.705); */
    /* position: fixed; */
    top: 0;
    width: 100%;
}
.navUl li {
    float: left;
    border-right: 1px solid #bbb;
}
.navUl a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navUl a:hover {
    background-color: rgb(100, 110, 110);
}
.active {
    background-color: #4caf50;
}
.navright {
    float: right;
}